.auth-container{
    height: 82vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    .div-1{
        width: 40%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 20px;
            .name{
                display: flex;
                gap: 20px;
                input{
                    padding: 10px 20px;
                    font-size: 18px;
                    font-family: 'Varela Round', sans-serif; 
                }
            }
            input{
                padding: 10px 20px;
                font-size: 18px;
                font-family: 'Varela Round', sans-serif; 
            }
        }
        .border{
            height: 2px;
            width: 40%;
            background-color: black;
            margin-bottom: 5vh;
        }
    }
    .div-2{
        width: 60%;
        height: 100%;
        background-color: #6b5ccc;
    }
}
